[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coreCollection"]
	path = coreCollection
	url = https://github.com/pbr/corecollection
